.el-table thead tr th{
  background-color: #F5F7FA;
}
.el-table th > .cell{
  word-break: break-word !important;
}
#reportFailoverByCampaign table tbody tr:first-child td, #reportFailoverByMonth table tbody tr:first-child td{
  font-weight: bold;
  color: red;
}
.el-submenu .el-menu-item {
  line-height: unset !important; /*20px !important;*/
  text-indent: -32px;
  margin-left: 40px;
  white-space: unset !important;
}
.router-link-active li{
  color: #fff653 !important;
}
.page-title{
  background-color: #efefef;
  padding: 5px 5px 5px 15px;
  margin-left: -40px;
  margin-right: -40px;
  margin-top: -40px;
  margin-bottom: 20px;
  font-weight: bold;
}
.required{
  color: red;
  position: relative;
  top: 2px;
}
select:focus, select:active{
  outline: none !important;
  box-shadow: unset !important;
}
/*.el-scrollbar__thumb{
  height: 3% !important;
}*/
.el-scrollbar__bar.is-vertical{
  width: 12px !important;
}
.ml-15{
  margin-left: 15px;
}
.text-end-custom{
  text-align: right;
}
.w-62{
  width: 62%;
}
.w-110{
  width: 110% !important;
}
.w-90{
  width: 90% !important;
}
@media screen and (max-width: 767px) {
  .ml-15{
    margin-left: 0;
  }
  .text-end-custom{
    text-align: left;
  }
  .w-62{
    width: 100%;
  }
}
